@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>

<form method="post">

    <div class="validation-summary-errors">
        @Html.ValidationSummary(false, "", new { @class = "text-danger" })
    </div>

    <label for="Id">ID:</label>
    <input type="text" name="Id" id="Id" value="@((Model != null ? Model.Id : ""))" placeholder="Enter your ID" required />
    <span class="text-danger">@Html.ValidationMessage("ID")</span>
    <br /><br />

    <label for="Password">Password:</label>
    <input type="password" name="Password" id="Password" placeholder="Enter your password" required />
    <br /><br />

    <input type="submit" class="btn btn-primary" value="Login" />
</form>
